@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h2 class="display-3" style="font-family:'Bernard MT'; text-decoration:underline" >Egypt Clups</h2>
  
    <div class="row">
        <div class="col-md-4" >
            <img src="~/Images/Ahly_Fc_new_logo.png" />
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4" >
            <img src="~/Images/ZamalekSC.png" />
        </div>
    </div>
    

</div>